<!-- The control -->
  <input 
  (change) = "this.change()"
  (onfocusout) = "this.change()"
  type="text" [(ngModel)]="config.value"  #name="ngModel"
  [attr.disabled]="(this.isEnabled() || (!this.isEnabled() && this.isRequired()))?null:''" 
  [ngClass]="{'form-control-sm':true, 'pt-0':true, 'pb-0':true,'inputNotRequired':(!this.isEnabled()), 'inputRequired':(this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
  placement="right" ngbPopover="{{this.popOverContent}}" triggers="mouseenter:mouseleave" popoverTitle="Value Format"
  placeholder="{{this.placeholder}}" 
  minlength="{{config.minLength}}"
  maxlength="{{config.maxLength}}"
  pattern = "{{config.pattern}}" 
  />
