<!-- The control -->
<ng-template #popContent>{{this.config.modelDescription}}<br/><span style="font-size: 9pt; font-style: italic">{{this.popOverContent}}</span></ng-template>

  <input 
  (change) = "this.change()"
  (onfocusout) = "this.change()"
  style = "width:calc(100% - 5px) !important"
  type="text" [(ngModel)]="config.value"  #name="ngModel"
  [attr.disabled]="(this.isEnabled() || (!this.isEnabled() && this.isRequired()))?null:''" 
  [ngClass]="{'pt-0':true, 'pb-0':true,'inputNotRequired':(!this.isEnabled()), 'inputRequired':(this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
  placement="left" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Value Format"
  placeholder="{{this.placeholder}}" 
  minlength="{{config.minLength}}"
  maxlength="{{config.maxLength}}"
  pattern = "{{config.pattern}}" 
  />
