<!-- The control -->
  <input 
  type="text" [(ngModel)]="config.value"  #name="ngModel"
  [attr.disabled]="(this.isEnabled() || (!this.isEnabled() && this.isRequired()))?null:''" 
  [ngClass]="{'form-control-sm':true, 'pt-0':true, 'pb-0':true,'inputNotRequired':(!this.isEnabled()), 'inputRequired':(this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
  placement="right" ngbPopover="{{config.modelDescription}}" triggers="mouseenter:mouseleave" popoverTitle="Value Format"
  placeholder="Length: min({{config.minLength}}), max({{config.maxLength}})" 
  minlength="{{config.minLength}}"
  maxlength="{{config.maxLength}}" 
  />
