<div class="pl-3 pr-3 pt-2" style="height: 450px; overflow-y: scroll">
    <label class = "controlEnabled">Step 1: Enter the XSD</label>
  <ace-editor #xsdEditor [(text)]="this.enteredXSD" [theme]="'chrome'" [options]="{maxLines: 'Infinity', printMargin:false, fontSize:12}"
    style="height: 250px; width:100%;"></ace-editor>
  <button type="button" class="btn btn-outline-dark float-right" (click)="upload()">Save</button>
  <div class="form-group">
      <label for="schemaType3">Step 2: Select Type</label>
      <select id="schemaType3" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedType" (change)="this.changeType()" class="form-control">
        <option [value]="item" *ngFor="let item of this.schemaTypes">{{item}}</option>
      </select>
  </div>
</div>
