<div style="overflow-x: scroll; height: calc(100%);" [ngClass]="{'warnings':hasWarning()}">

  <!-- Formatting errors -->
  <div *ngIf="hasFormatErrors()">
    <div class="warningLabel">Format Warnings</div>
    <div *ngFor="let err of this.global.formatErrors" class="alertItem">
      <div></div>
      <span>{{err}}</span>
    </div>
  </div>

  <!--Undefined Elements -->
  <div *ngIf="hasElementWarnings()">
    <div class="warningLabel">Undefined Elements</div>
    <div *ngFor="let err of this.global.elementsUndefined" class="alertItem">
        <div></div>
      <span>{{err}}</span>
    </div>
  </div>

  <!-- Undefined Attributes -->
  <div *ngIf="hasAttributeWarnings()">
    <div class="warningLabel">Undefined Attributes</div>
    <div *ngFor="let err of this.global.attributesUndefined" class="alertItem">
        <div></div>
        <span>{{err}}</span>
    </div>
  </div>

  <div *ngIf="!hasWarning()" class="noWarnings">
    <div>No Warnings</div>
  </div>
</div>
