@import "../../styles_variables.scss";
.warnings{
    background:$alertWindowBackgroundColor
}

.alertItem{
    background-color:$alertWindowItemBackgroundColor; 
    padding:4px;
    width:800px;
    border: 1px solid $alertWindowItemBorderColor;
    display: flex;
    align-items: center;
    div {
        margin-left:5px;
        border-radius:5px;
        width:10px;
        height:10px; 
        background-color:red;
    }
    span {
        margin-left:5px;
        color:$alertWindowItemLabelColor;
        font-size:8pt;
    }
}
.warningLabel{
    font-size: 11pt;
    color:$alertWindowLabelColor;
    font-weight: 450;
    margin: 0.4em;
}

.noWarnings{
    font-size:24pt; 
    color: $alertWindowNoWarningLabelColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $alertWindowNoWarningBackgroundColor;
    height:100%;
}


