  <input 
  type="text" [(ngModel)]="this.config.value"  #name="ngModel"
  (change)="this.change()" 
  (onfocusout) = "this.change()"
  [attr.disabled]="(this.isEnabled() || (!this.isEnabled() && this.isRequired()))?null:''" 
  [ngClass]="{'inputRequired':(this.isEnabled()),'inputNotRequired':(!this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
  placement="right" ngbPopover="{{config.modelDescription}}" triggers="mouseenter:mouseleave" popoverTitle="Value Format"
  placeholder="Pattern: {{config.pattern}}"  pattern="{{config.pattern}}"  
  />