<div [ngClass]="{'d-none':this.topLevel}"  style="margin-top:4px">
  <div [ngClass]="{'card':true,'px-1':true, 'pb-1':true, 'choice':true}">
    <div class='card-header' style="padding-top:5px;padding-bottom:5px">
      <label class="form-check-label h6 mr-1" style="float:left;color:#930F80; margin-bottom: 4px; margin-top: 5px"><i>{{config.name}}</i> Select
        Option:</label>
      <select [(ngModel)]="selectedChoice" [ngClass]="{'form-control-sm':true}" (change)="this.checkChoice();this.change()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let choice of config.choiceElementIdentifiers">{{choice}}</option>
      </select>

      <div *ngIf="showDeleteAction()" (click)="this.remove()" style="float: right">
        <svg class="mr-4 svg-minus" role="img" viewBox="0 0 512 512">
          <path id="delete" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z"></path>
        </svg>
      </div>
    </div>

    <div class="col-12" style="padding-left: 4px; padding-right: 4px">
      <template #attributes></template>    
      <template #container></template>
    </div>
  </div>
</div>

<!-- The Top Level Heading to add more copies if maxOccurs > 0 -->
<div *ngIf="this.topLevel && this.config.minOccurs != 1 && ((this.siblingCounter) != config.maxOccurs)" class="addSibling"> 
    <svg class="mr-2 svg-plus" role="img" viewBox="0 0 512 512" (click)="this.addSibling()">
        <path id="add" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
    </svg>
  <a class="AdditionalAction2 align-items-center noselect" (click)="this.addSibling()" role="button">
    <span style="color:#930F80; cursor:pointer">Add Choice {{config.name}}</span>
  </a>
  <span class="occurs noselect" *ngIf="config.maxOccurs > 100000"> ( Current: {{this.siblingCounter}} instances<span
      class="occurs noselect" *ngIf="this.siblingCounter == config.minOccurs && config.minOccurs != 0">,
      Minimum:{{config.minOccurs}}</span>)</span>
  <span class="occurs noselect" *ngIf="config.maxOccurs < 100000"> ( {{this.siblingCounter}} of {{config.maxOccurs}}<span
      class="occurs noselect" *ngIf="this.siblingCounter == config.minOccurs && config.minOccurs != 0">,
      Minimum:{{config.minOccurs}}</span>)</span>
</div>

<template #siblings></template>
