<div [ngClass]="{'d-none':!this.showElement || this.bobNumber == 0}">
  <div class="row mt-1 ml-2" style="background-color:khakin">
    <div class="col-md-7" style="background-color: white">
      <div class="form-check">
        <input [ngClass]="{'form-check-input':true}" [disabled]="config.required"
          [attr.id]="this.getID()" type="checkbox" [(ngModel)]="config.enabled"
          (change) = "change()">

        <!-- <span *ngIf="this.controlRef.instance.requireStar()">
          <em style="color:red">* </em>
        </span> -->
        <!-- <span *ngIf="config.required">*</span> -->
        <label [ngClass]="{'form-check-label':true, 'simple-label':true}" (click)="isCollapsed = !isCollapsed" style="color:#930F80;margin-bottom:initial; display: initial !important;font-weight: 400" [attr.for]="this.getID()"
          placement="right" ngbPopover="{{config.annotation}}" triggers="mouseenter:mouseleave" popoverTitle="{{config.name}}">{{config.name}}
        </label>

        <!-- The little arrow at the end of the name -->
        <span  
        style="margin-left: 2px; cursor: pointer"
        (click)="isCollapsed = !isCollapsed" 
        [ngClass]="{'right-arrow':isCollapsed && hasAttributes() && !hasRequiredAttributes(), 'down-arrow':!isCollapsed && hasAttributes() && !hasRequiredAttributes(), 'right-arrow-required':isCollapsed  && hasRequiredAttributes(), 'down-arrow-required':!isCollapsed && hasRequiredAttributes()}" >
        </span>

       
        <div *ngIf="(!config.required  && config.maxOccurs > 1 && !this.isRoot && !this.isChoiceChild && (this.parent.siblings.length > this.config.minOccurs)) || (this.isChoiceChild && this.config.minOccurs == 0)" (click) = "this.remove()" style="float: right">
        <span class="DeleteAction"> </span>
        </div>

      </div>
    </div>

    <!--  Start oof the input element -->
    <div class="col-md-5">
      <template #control></template>
    </div>
    <!-- End of input element -->


  </div>
  <div [ngClass]="{'d-none':this.isCollapsed}">
    <template #attributes></template>
  </div>
</div>

<!-- The Top Level Heading to add more copies if maxOccurs > 0 -->
<div *ngIf="this.bobNumber == 0" class="addSibling">
  <a class="AdditionalAction2 align-items-center noselect" (click)="this.addSibling()" role="button">
    <span style="color:#930F80; cursor:pointer">Add {{config.name}}</span>
  </a>
  <span class="occurs noselect" *ngIf="config.maxOccurs > 100000"> ( Current: {{this.bobNumberChild - 1}} instances )</span>
  <span class="occurs noselect" *ngIf="config.maxOccurs < 100000"> ( {{this.bobNumberChild - 1}} of {{config.maxOccurs}})</span>
</div>

<template #siblings></template>
