.addSibling{
    margin-top: 2px;
    margin-bottom: 2px;
}

.add{
  color:#930F80 !important; 
  cursor: pointer;
}

.add:hover{
  text-decoration: underline !important;
}

#addSiblingLabel:hover .svg-plus{
  fill:rgb(46, 161, 98);
}
#addSiblingLabel:hover .add{
  text-decoration: underline;
}

.svg-minus {
  display: inline-block;
  font-size: inherit;
  height: 1.1em;
  overflow: visible;
  /* vertical-align: -.125em; */
  width: 1.1em;
  font-size: 1.1em;
  overflow: visible;
  fill:grey;
  cursor: pointer;
}

.svg-minus:hover{
  fill:rgb(214, 25, 25);
}

.svg-plus {
  display: inline-block;
  font-size: inherit;
  height: 1.1em;
  overflow: visible;
  vertical-align: -.125em;
  width: 1.1em;
  font-size: 1.1em;
  overflow: visible;
  fill:grey;
  cursor: pointer;
}

.svg-plus:hover{
  fill:rgb(46, 161, 98);
}

.badgeGrayRight {
  background:  lightsteelblue;
  right: -35px
}

.simpleBorders{
  border-left: 1px solid rgb(148, 147, 147);
  border-top: 1px solid rgb(148, 147, 147);
  border-right: 1px solid rgb(148, 147, 147);
  border-bottom: 1px solid rgb(148, 147, 147);
}

.simpleBordersExpanded{
  border-bottom-width: 0px
}
 