<div *ngIf="this.topLevel; then topBlock; else siblingBlock"></div>

<!-- The Top block -->
<ng-template #topBlock>
  <div [ngClass] = "{'d-none':!showTopBlock()}" class="addSibling">
    <a class="AdditionalAction2 align-items-center noselect" (click)="this.addSibling()">
      <span style="color:#930F80; cursor: pointer;">Add {{config.name}} Sequence</span>
    </a>
    <span class="occurs noselect" *ngIf="config.maxOccurs > 100000"> ( Current: {{this.siblingCounter}} instances <span
        class="occurs noselect" *ngIf="this.siblingCounter == config.minOccurs && config.minOccurs != 0">,
        Minimum:{{config.minOccurs}}</span>)</span>
    <span class="occurs noselect" *ngIf="config.maxOccurs < 100000">
      ( {{this.siblingCounter}} of {{config.maxOccurs}}
      <span class="occurs noselect" *ngIf="this.siblingCounter == config.minOccurs && config.minOccurs != 0">,
        Minimum:{{config.minOccurs}}</span>)</span>
  </div>
  <template #siblings></template>
</ng-template>

<!-- The block that actually holds the data-->
<ng-template #siblingBlock>
  <owl-accordion>
    <owl-expansion-panel [expanded]='true' [ngClass]="{'oddDepth':isOddDepth(),'evenDepth':isEvenDepth(),'d-none':(this.topLevel),'mb-1':'true'}">
      <owl-expansion-panel-header style="background: rgba(0,0,0,0.1)">
        <owl-expansion-panel-title [ngClass]="{'form-check-label':true, 'h6':true, 'noselect':true}">
          {{config.name}}
        </owl-expansion-panel-title>
        <owl-expansion-panel-description>
          {{config.description}}
        </owl-expansion-panel-description>
        <div *ngIf="(!this.isRoot && this.parent.siblingCounter != config.minOccurs)" (click)="this.remove()" style="float: right">
          <span class="DeleteAction"> </span>
        </div>
      </owl-expansion-panel-header>

      <!-- <editor-fold desc="dummy text"> -->
          <!-- <div [ngClass]="{'d-none':this.isCollapsed}"> -->
        <div style="margin-bottom: 4px"><template #attributes></template></div>
       <div class="col-12" style="padding-left: 4px; padding-right: 4px;">
        <template #container></template>
      </div>
      <!-- </editor-fold> -->
    </owl-expansion-panel>
  </owl-accordion>
</ng-template>
