
<div [ngClass]="{'d-none':(!this.showElement || this.bobNumber == 0)}" style="margin-top:4px">
  <div [ngClass]="{'card':true,'px-2':true, 'pb-2':true, 'oddDepth':isOddDepth(),'evenDepth':isEvenDepth(), 'd-none':!config.enabled && !config.required}">
    <div class='card-header'>
      <label class="form-check-label h6" style="color:#930F80; display:initial !important" (click)="isCollapsed = !isCollapsed" placement="right"
        ngbPopover="{{config.annotation}}" triggers="mouseenter:mouseleave" popoverTitle="{{config.name}}">
        {{config.elementPath}} 
      </label>

      <!-- The little arrow at the end of the name -->
      <span style="margin-left: 2px; cursor: pointer" (click)="isCollapsed = !isCollapsed" [ngClass]="{'right-arrow':isCollapsed && hasAttributes() && !hasRequiredAttributes(), 'down-arrow':!isCollapsed && hasAttributes() && !hasRequiredAttributes(), 'right-arrow-required':isCollapsed  && hasRequiredAttributes(), 'down-arrow-required':!isCollapsed && hasRequiredAttributes()}">
      </span>
      <!-- <div *ngIf="!config.required  && config.maxOccurs >= 1" (click) = "this.remove()" style="float: right"> -->
    
      <div *ngIf="(!this.isRoot && !this.isChoiceChild && (this.parent.siblings.length > this.parent.config.minOccurs)) || (this.isChoiceChild && this.config.minOccurs == 0)" (click) = "this.remove()" style="float: right">
          <span class="DeleteAction"> </span>
      </div>

      <div [ngClass]="{'d-none':this.isCollapsed}">
        <template #attributes></template>
      </div>
    </div>
    <div class="col-12">
      <template #sub></template>
    </div>
  </div>
</div>


<div *ngIf="this.bobNumber == 0" class="addSibling">
  <a class="AdditionalAction2 align-items-center noselect" (click)="this.addSibling()">
    <span style="color:#930F80; cursor: pointer;">Add {{config.name}} Sequence</span>
  </a>
  <span class="occurs noselect" *ngIf="config.maxOccurs > 100000"> ( Current: {{this.bobNumberChild - 1}} instances )</span>
  <span class="occurs noselect" *ngIf="config.maxOccurs < 100000"> ( {{this.bobNumberChild - 1}} of {{config.maxOccurs}})</span>
</div>
<template #siblings></template>