<div class="input-group">
  <!--<input style="font-size:9pt; padding-left:4px; margin-right:0px" placeholder="yyyy-mm-dd" #name="ngModel" (change)="this.change()"
    (onfocusout)="this.change()" [ngClass]="{'inputRequired':(this.isEnabled()),'inputNotRequired':(!this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
    name="dp" [(ngModel)]="config.value" ngbDatepicker #d="ngbDatepicker" placement="right" ngbPopover="{{config.modelDescription}}"
    triggers="mouseenter:mouseleave" popoverTitle="Value Format">
   <div class="input-group-append">
    <button (click)="d.toggle()" type="button"  style="background:#17A2B8;">
      <img src="/assets/img/calendar-icon.svg" style="width: 0.45rem; height: 0.45rem; cursor: pointer;" />
    </button>
  </div> -->

 
    <input 
    [owlDateTimeTrigger]="dt7" 
    [owlDateTime]="dt7"

    [ngClass]="{ 'inputOK':true}"
    [(ngModel)]="d">

    <owl-date-time 
    (afterPickerClosed) = "this.change()"
    [pickerType]="'both'" #dt7></owl-date-time>



</div>
