<div class="gridwrapper">
  <nav>
    <app-topmenu></app-topmenu>
  </nav>
  <main>
    <div style="overflow-y:scroll; height:calc(100vh - 65px)">
      <template #container></template>
      <template #siblings></template>
    </div>
    <div class="right" style="height:calc(100vh - 65px)">
      <div style="overflow-y:scroll" class="border border-secondary">
        <ace-editor #sampleEditor [(text)]="this.global.XMLMessage" [theme]="'eclipse'" [durationBeforeCallback]="1000"
          (textChanged)="onTextChange($event)" [options]="{maxLines: 'Infinity', printMargin:false, fontSize:12}" style="min-height: 100%; width:100%;"></ace-editor>
      </div>
      <div style="width:100%" class="quayStatusBar">
        <!-- <button style="width:85px;margin-left: auto" class="btn btn-light btn-sm mr-1" (click)="validate()">Validate</button>
        <button  class="btn btn-light btn-sm mr-1" (click)="downloadxml()">Download XML</button>
        <button style="width: 140px;" class="btn btn-light btn-sm mr-1" (click)="copytoclip()">Copy To Clipboard</button> -->

         <button  style="width:135px;margin-left: auto" class="btn btn-light btn-sm mr-2" [owlMenuTriggerFor]="xmlmenu" 
         (mouseenter)="trigger.openMenu()"
          #trigger="owlMenuTrigger">XML Menu</button>
        <owl-menu  [overlapTrigger]="false" [yPosition]="'above'" #xmlmenu="owlMenu" class="menuPanel">
          <button owl-menu-item (click)="validate()">Validate Generated XML</button>
          <button owl-menu-item (click)="downloadxml()">Download Generated XML</button>
          <button owl-menu-item (click)="copytoclip()">Copy XML To Clipboard</button>
        </owl-menu>


      </div>
      <div style="overflow-y:scroll;">
        <app-alertswindow></app-alertswindow>
      </div>
    </div>
  </main>

  <footer class="quayStatusBar">
    <!-- Hidden forms form submission and downloading  -->
    
    <form id="downloadform" class="d-none" method="post" target="_self">
      <input type="hidden" name="saveobject" />
    </form>
    <form id="downloadxmlform" class="d-none" method="post" target="_self">
      <input type="hidden" name="xml" />
    </form>
    <form>
      <input type="file" class="d-none" (change)="onSaveFileSelect($event)" title="Select Files" name="files[]" accept=".zip"
        id="saveFileDialog" />
    </form>

    <!-- Bottom status-->
    <span>Schema: </span>
    <span class="value">{{schema}}</span>
    <span>Schema File:</span>
    <span class="value">{{schemaFile}}</span>
    <span>Type or Element: </span>
    <span class="value">{{type}}</span>
    <span>Status: </span>
    <span [ngClass]="{'value':true,'wait':wait}">{{status}}</span>
    <span style="margin-left: auto">XSD2XML Build Number: </span>
    <span class="value mr-5 ml-2" >{{global.buildNumber}}</span>
  </footer>
</div>
