<!-- The control -->
<ng-template #popContent><span style="font-size: 9pt; font-style: italic">{{this.typeConfig.description}}</span><br/></ng-template>
  <input 
  type="text" [(ngModel)]="config.value"  #name="ngModel"
  style = "width:100% !important"
  (change) = "this.change()"
  (onfocusout) = "this.change()"
  (keyup) = "this.keyUp($event)"
  [attr.disabled]="(this.isEnabled() || (!this.isEnabled() && this.isRequired()))?null:''" 
  [ngClass]="{'inputRequired':(this.isEnabled()),'inputNotRequired':(!this.isEnabled()),'inputError':(this.isEnabled() && (this.isInvalid() || ( name.invalid))), 'inputOK':(this.isEnabled() && ( name.valid && !this.isInvalid()))}"
  
   placement="left"  [disablePopover]='!this.global.showPopovers'  [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Value Format"
  />

  <!-- [ngClass]="{ 'pt-0':true, 'pb-0':true,'inputRequired':(this.isEnabled()||this.bElement),'inputError':(this.inputNotOK), 'inputOK':this.inputOK}" -->
