@import "../../../styles_variables.scss";

div {
  overflow: hidden;
  background-color:$statusBarColor;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 0px;
  display: block;
  color: $titleColor !important;
  text-align: center;
  padding: 2px 44px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 135px;
  height: 25px;
  border-radius: 15px;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  padding-top: 0px;
  font-size: 12.8px;
}

.btn:hover {
    background: #b3e1ff;
}