<div class="modal-header">
  <h4 class="modal-title">Load XML Schema Definition</h4>
  <button type="button" class="close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span></button>
</div>
<div>
  <div label="Pre Loaded" [ngClass]="{'d-none': tabIndex != 0}">
    <app-pre-loded></app-pre-loded>
  </div>
  <div label="Load Your Own" [ngClass]="{'d-none': tabIndex != 1}">
    <app-load-your-own></app-load-your-own>
  </div>
  <div label="Enter XSD" [ngClass]="{'d-none': tabIndex != 2}">
    <app-enter-xsd></app-enter-xsd>
  </div>
</div>
<div class="modal-footer" style='justify-content: space-between'>
  <div class="float-left" style='color:#f2f2f2'>
    {{tabDescription}}
  </div>
  <div class="float-right">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</div>
