<div class="modal-header">
  <h4 class="modal-title">About XSD2XML</h4>
  <button type="button" class="close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span></button>
</div>

<div style="padding:8px;display: grid; grid-template-rows: 1fr minmax(50px, 50px); grid-template-columns: 1fr">

<div>
  <p>XSD2XML allows you to load or enter a XML Schema Defintion (XSD) which it uses to generate a dynamic form to allow you to build a valid XML document from the definiotn</p>
  <p>It differs from similar tools by putting you completely in the driving seat by allowing you to quickly add or delete optional elements. The cardinality of elements is enforced and only the defined number of elements can be entered. Where the XSD defines a Choice, the choice is presented in a familiar dropdown selection box. Required element attributes are pre selected and optional attributes are easily enabled.</p>   
</div>

<div>Contact: David Burton <a href="davidburton196@yahoo.com.au">davidburton196@yahoo.com.au</a><div style="float:right">&copy; David Burton, 2019</div></div>

</div>

  <div class="modal-footer" style='justify-content: space-between'>
    <div class="float-left" style='color:#f2f2f2'>
     
    </div>


    <div class="float-right">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>