
//Status and Title BAr
$statusBarColor: steelblue;
$titleColor: #f2f2f2;

//Form Background Colors
$oddDepthColor: rgba(23, 156, 184, 0.302);
$evenDepthColor: #e3f5f8;

// Alert Window
$alertWindowBackgroundColor: rgba(59,53,53, 0.5);
$alertWindowNoWarningBackgroundColor: rgba(129, 238, 129,0.5);
$alertWindowNoWarningLabelColor:rgb(65, 60, 60);
$alertWindowItemBackgroundColor: rgb(59,53,53);
$alertWindowItemBorderColor:gray;
$alertWindowLabelColor: yellow;
$alertWindowItemLabelColor: yellow;

// Attribute Label Color
$attributeLabelColor: #9455C1;



