/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/* @import "./assets/css/SITAUI.css";  */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~owl-ng/assets/style/theme.min.css";

.owl-expansion-panel-body {
  padding: 0 0.25em 0.25em;
}

body,
html {
  height: 100%;
}

.cursorpointer{
  cursor:pointer;
}

.badgeRed{
  background: rgb(161, 46, 46);
}

.badgeGray {
  background:  lightsteelblue;
  color: black;
}
.attribute-label {
  font-size: 10pt;
  color: black;
}

.form-control-sm{
  height:initial !important;
}

.oddDepth{
  background-color:#179cb84d
}
.evenDepth{
  background-color: #e3f5f8;
}

.choice{
  background-color:#cfd5dc
}

span.form-check-input:disabled{
  color:black;
}

[type = checkbox]{
  left:initial;
} 

.simple-label{
  /*To overwrite a BS style*/
  margin-block-start: initial;
}
[type=checkbox]+label::before {
  background: #ffffff;
  border-radius: initial;
  box-shadow: initial;
  content: initial;
  display: inline-block;
  height: initial;
  line-height: initial;
  margin-right: initial;
  text-indent: initial;
  vertical-align:initial;
  width: 1rem;
}

.inputNotRequired {
  margin: 0 .25rem;
  min-width: 125px;
  width: calc(1005 -5px);
  border: 1px solid #eee;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
  border-left-color: lightgray;
  border-right-color: lightgray;
  font-size: 9pt;
  padding-left: 5px;
}

.inputError {
  margin: 0 .25rem;
  min-width: 125px;
  width: calc(1005 -5px);
  border: 1px solid #eee;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
  border-left-color: salmon;
 border-right-color: salmon;
 font-size: 9pt;
 padding-left: 5px;
}

.inputOK {
  margin: 0 .25rem;
  min-width: 125px;
  width: calc(1005 -5px);
  border: 1px solid #eee;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
  border-left-color: palegreen;
  border-right-color: palegreen;
  font-size: 9pt;
  padding-left: 5px;
}

.inputOKSpinner {
  margin: 0;
  min-width: 60px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
  border-left-color: palegreen;
  border-right-color: palegreen;
  font-size: 9pt !important;
  height: 20px !important;
  padding-left: 2px;
}
.spinnerBtn{
  height: 20px !important;
}




span.occurs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.page-container {
  margin: 20px;
}


/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 300px;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  width: 18px;  
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  background: #eee;
}


/* vertical panel */

.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid silver;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  height: 150px;
  width: 100%;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
}

.panel-bottom {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  min-height: 200px;
  background: #eee;
}

label {
  font-size: 1.0em;
  display: block;
  font-weight: normal;
  margin: 30px 0 10px;
}

pre {
  margin: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid silver;
  border-radius: 4px;
  overflow: auto;
}

.unionMember {
  margin-bottom:2px
}

.modal-header {
  background-color: steelblue;
}

.modal-header h4 {
  color: #f2f2f2;
}
.modal-footer {
  background-color: steelblue;
}
.modal-footer h4 {
  color: #f2f2f2;
}
.modal-footer p {
  color: #f2f2f2;
}
.modal-footer button {
  background-color: #f2f2f2;
}

.bottom span {
  color:black;
  margin-top: 4px;
  margin-right: 5px;
}

.waiting { cursor: wait; }


