
//Status and Title Bar
$statusBarColor: steelblue;
$titleColor: #f2f2f2;

//Form Background Colors
$oddDepthColor: rgba(23, 156, 184, 0.302);
$evenDepthColor: #e3f5f8;

// Alert Window
$alertWindowBackgroundColor: rgba(59,53,53, 0.5);
$alertWindowNoWarningBackgroundColor: rgba(129, 238, 129,0.5);
$alertWindowNoWarningLabelColor:rgb(65, 60, 60);
$alertWindowItemBackgroundColor: rgb(59,53,53);
$alertWindowItemBorderColor:gray;
$alertWindowLabelColor: yellow;
$alertWindowItemLabelColor: yellow;

// Attribute Label Color
$attributeLabelColor: #9455C1;

$svgSpriteSize: 1.0em;

$sequenceLabelAddColor: #930F80;
$simpleLabelAddColor: #930F80;

$sequenceLabelFontSize: 11pt;
$simpleLabelFontSize: 11pt;

// Lead Page
$leadTextColor: #333;

//Fonts
$defaultFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontFamily1:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// Validation Window Colors
$loadingColor:pink;
$validColor: rgba(129, 238, 129,0.5);
$invalidColor: rgb(250, 53, 53);

$menuPanelColor: aliceblue;
