<!-- The control -->
<div class="input-group float-left" style="width: 200px">
  <ng-template #popContent>{{this.config.modelDescription}}<br /></ng-template>
  <span class="input-group-btn">
    <button (click)='clickNum(-10)' type="button">
      <img src="./assets/img/minus.svg" />
      <img src="./assets/img/minus.svg" style="margin-left:2px" />
    </button>

    <button (click)='clickNum(-1)' type="button" style="margin-left:1px;">
      <img src="./assets/img/minus.svg" />
    </button>
  </span>

  <input type="text" #name="ngModel" [ngClass]="{'text-center':true, 'form-control':true, 'inputOKSpinner':true }"
    class="form-control text-center form-control-sm" [(ngModel)]="this.num" style="width:50px !important" (change)="this.change()"
    (onfocusout)="this.change()" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Value Format">

  <span class="input-group-btn">
    <button (click)='clickNum(1)' type="button">
      <img src="./assets/img/plus.svg" />
    </button>

    <button (click)='clickNum(10)' type="button" style="margin-left:1px;">
      <img src="./assets/img/plus.svg" />
      <img src="./assets/img/plus.svg" style="margin-left:2px" />
    </button>
  </span>
</div>
