<div class="modal-header">
  <h4 class="modal-title">Loaded XML Schema Definition</h4>
  <button type="button" class="close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span></button>
</div>

<div style="height:70vh;overflow-y:scroll" class="border border-secondary">
  <div class="form-group row">
    <select [ngModelOptions]="{standalone: true}" [ngModel]="fileContent" class="form-control col-sm-6 mt-2 ml-4">
      <option [ngValue]="null" selected disabled>Select Schema File</option>
      <option [value]="item.content" *ngFor="let item of this.data">{{item.name}}</option>
    </select>

  </div>
  <ace-editor [theme]="'chrome'" [options]="{maxLines: 'Infinity', printMargin:false, fontSize:12}" [text]="fileContent"
    style="min-height: 350px; width:100%;"></ace-editor>
</div>

<div class="modal-footer" style='justify-content: space-between'>
  <div class="pull-right" style="width:100%">
    <button type="button" class="btn btn-outline-dark pull-right float-right" (click)="c('Close click')">Close</button>
  </div>
</div>
