
  <!--The label-->
  <div class="row ml-2" >
    <div class="col-md-7 pl-4 att_row pt-1 pb-1 pr-1" [ngClass] = "{'attribSelected':config.enabled}">
      <input type="checkbox" [ngClass]="{'form-check-input':true}" [disabled]="config.required" [attr.id]="this.getID()"
        [(ngModel)]="config.enabled" (change)="change()">

      <div class="att_label float-left" placement="right" ngbPopover="{{config.description}}" triggers="mouseenter:mouseleave"
        popoverTitle="{{config.name}}">
        <span *ngIf="config.required">*</span> {{config.name}}
      </div>

          <!-- The control -->
    <div class="float-right">
        <template #control></template>
      </div>
      <!-- End of control -->
    </div>

    <!-- The control -->
    <!-- <div class="col-md-5">
      <template #control></template>
    </div> -->
    <!-- End of control -->
  </div>
