<div class="attributeRow" [ngClass]="{'sequenceAttribute':config.sequenceAttribute, 'simpleAttribute':!config.sequenceAttribute}">
  <div class="attributeRowLabel">
    <input type="checkbox" [disabled]="config.required" [attr.id]="this.getID()" [(ngModel)]="config.enabled" (change)="change()">
    <div class = "attributeLabel" placement="right" ngbPopover="{{config.description}}"
      popoverTitle="{{config.name}}">
      <span *ngIf="config.required">*</span> {{config.name}}
    </div>
  </div>
  <div>
    <template #control></template>
  </div>
</div>
